@using AttenanceSystemApp.DTO
@model DepartmentDTO

<div class="container text-center">
	<h1 class="my-5">Delete department @Model.Name</h1>
	<h4 class="my-5 text-danger">Do you really want to delete this department?</h4>
	<div class="table-responsive">
		<table class="table table-success table-striped shadow">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Adress</th>
				<th scope="col">City</th>
				<th scope="col">Show employees</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
					<tr>
					  <th scope="row">@Model.Id</th>
					  <td>@Model.Name</td>
					  <td>@Model.Adress</td>
					  <td>@Model.City</td>
					  <td>
						  <a class="btn btn-warning btn-sm" asp-action="Employees" asp-route-id="@Model.Id">Show</a>
					  </td>
					  <td>
						  <div class="d-flex align-items-center justify-content-center gap-2">
							  <form method="post">
								  <button type="submit" class="btn btn-danger btn-sm" asp-action="Delete" 
								  asp-route-id="@Model.Id">Delete</button>
							  </form>
							  <a asp-action="Index" class="btn btn-secondary btn-sm text-white">Back</a>
						  </div>
					  </td>
					</tr>

			</tbody>
		</table>
	</div>
</div>
