@using AttenanceSystemApp.DTO
@model IEnumerable<DepartmentDTO>

<div class="container text-center">
	<h1 class="my-5">Departmets</h1>
	@if (TempData["ErrorMessage"] != null)
	{
				<div class="alert alert-danger text-center mb-4">
					@TempData["ErrorMessage"]
				</div>
	}
	<div class="att-card border border-dark mb-4 shadow">
		<h5 class="mt-4">Create new department</h5>
		<a asp-action="Create" class="btn btn-warning mb-4 mt-2 text-center">Create</a>
	</div>
	<table class="table table-success table-striped shadow">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Adress</th>
				<th scope="col">City</th>
				<th scope="col">Show employees</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
					<tr>
					  <th scope="row">@item.Id</th>
					  <td>@item.Name</td>
					  <td>@item.Adress</td>
					  <td>@item.City</td>
					  <td>
						  <a class="btn btn-warning btn-sm" asp-action="Employees" asp-route-id="@item.Id">Show</a>
					  </td>
					  <td>
						  <div class="d-flex align-items-center justify-content-center gap-2">
							  <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
							  <form method="get">
								  <button type="submit" class="btn btn-danger btn-sm" asp-action="GetToDelete" 
								  asp-route-id="@item.Id">Delete</button>
							  </form>
						  </div>
					  </td>
					</tr>
			}
		</tbody>
	</table>
</div>
