@model AttenanceSystemApp.Models.AppUser

<div class="container text-center">
	<h1 class="my-5">Delete user @Model.UserName</h1>
	<h4 class="my-5 text-danger">Do you really want to delete this user?</h4>
	<div class="table-responsive">
		<table class="table table-success table-striped shadow">
		<thead>
			<tr>
					<th scope="col">User ID</th>
					<th scope="col">User name</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
							<tr>
								<td>@Model.Id</td>
								<td>@Model.UserName</td>
								<td>@Model.Email</td>
								<td>
									<div class="d-flex align-items-center justify-content-center gap-2">
										<form method="post">
											<button type="submit" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Id">Delete</button>
										</form>
										<a asp-action="Index" class="btn btn-secondary btn-sm text-white">Back</a>
									</div>
								</td>
							</tr>

			</tbody>
		</table>
	</div>
</div>
