@using AttenanceSystemApp.ViewModels
@model AttenanceRecordViewModel

<div class="container">
    <h1 class="text-center my-5">Attenance record</h1>
    @if (Model.EmployeeId > 0)
    {
        var selectedEmp = Model.Employees.FirstOrDefault(e => e.Id == Model.EmployeeId);
        if (selectedEmp != null)
        {
                <div class="alert alert-success text-center mb-4">
                    Selected employee: <strong>@selectedEmp.FirsName @selectedEmp.LastName</strong>
                </div>
        }
    }
    <div class="border border-1 border-dark p-3 att-card mb-4">
        <form method="post" asp-action="Index">
            <div class="row ms-5 me-5">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="DepartmentId" class="mb-2">Department:</label>
                        <select id="DepartmentId" name="DepartmentId" class="form-select">
                            <option value="0" selected="@(Model.DepartmentId == 0 ? "selected" : null)"> -- Všechna oddělení -- </option>
                            @foreach (var dept in Model.Departments)
                            {
                                <option value="@dept.Id" selected="@(Model.DepartmentId == dept.Id ? "selected" : null)">
                                    @dept.Name
                                 </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="EmployeeId" class="mb-2">Employee:</label>
                        <select id="EmployeeId" name="EmployeeId" class="form-select">
                            @foreach(var empl in Model.Employees)
                            {
                                    <option value="@empl.Id">@empl.FirsName @empl.LastName</option>
                            }
                        </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label class="d-block invisible mb-2">Submit</label>
                            <button type="submit" class="btn btn-warning w-100">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <div class="container py-5">
        <div class="row justify-content-center gap-5">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border border-1 border-dark p-3 att-card">
                    <h4 class="text-center mt-2">Attenance</h4>
                    <div class="my-4 border border-dark border-1 p-3 text-center" style="border-radius: 40px; background-color: #9fcab2; max-width: 100%; overflow: hidden;">
                        <form method="post" asp-action="RecordAttendance">
                            <div class="d-flex flex-row gap-2 w-100">
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="AttenanceIn" />
                                        <button class="btn btn-warning w-100" style="border-radius: 20px; height: 42px;">Check-In</button>
                                    </form>
                                </div>
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="AttenanceOut" />
                                        <button class="btn btn-danger w-100" style="border-radius: 20px; height: 42px;">Check-Out</>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-4">
                <div class="border border-1 border-dark p-3 att-card">
                    <h4 class="text-center mt-2">Doctor</h4>
                    <div class="my-4 border border-dark border-1 p-3 text-center" style="border-radius: 40px; background-color: #9fcab2; max-width: 100%; overflow: hidden;">
                        <form method="post" asp-action="RecordAttendance">
                            <div class="d-flex flex-row gap-2 w-100">
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="DoctorIn" />
                                        <button class="btn btn-warning w-100" style="border-radius: 20px; height: 42px;">Check-In</button>
                                    </form>
                                </div>
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="DoctorOut" />
                                        <button class="btn btn-danger w-100" style="border-radius: 20px; height: 42px;">Check-Out</button>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-4">
                <div class="border border-1 border-dark p-3 att-card">
                    <h4 class="text-center mt-2">Vacation</h4>
                    <div class="my-4 border border-dark border-1 p-3 text-center" style="border-radius: 40px; background-color: #9fcab2; max-width: 100%; overflow: hidden;">
                        <form method="post" asp-action="RecordAttendance">
                            <div class="d-flex flex-row gap-2 w-100">
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="IsVacationOn" />
                                        <button class="btn btn-warning w-100" style="border-radius: 20px; height: 42px;">Check-In</button>
                                    </form>
                                </div>
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="IsVacationOff" />
                                        <button class="btn btn-danger w-100" style="border-radius: 20px; height: 42px;">Check-Out</button>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-4">
                <div class="border border-1 border-dark p-3 att-card">
                    <h4 class="text-center mt-2">Sick Leave</h4>
                    <div class="my-4 border border-dark border-1 p-3 text-center" style="border-radius: 40px; background-color: #9fcab2; max-width: 100%; overflow: hidden;">
                            <div class="d-flex flex-row gap-2 w-100">
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="IsSickLeaveOn" />
                                        <button type="submit"
                                            class="btn btn-warning w-100"
                                            style="border-radius: 20px; height: 42px;">
                                            Check-In
                                        </button>
                                    </form>
                                </div>  
                                <div class="flex-fill">
                                    <form method="post" asp-action="RecordAttendance" style="margin: 0; width: 100%; display: flex;">
                                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                                        <input type="hidden" name="AttenanceType" value="IsSickLeaveOff" />
                                        <button type="submit"
                                            class="btn btn-danger w-100"
                                            style="border-radius: 20px; height: 42px;">
                                            Check-Out
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Ajax pro filtraci pracovniku podle oddeleni-->
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const departmentSelect = document.getElementById("DepartmentId");
            const employeeSelect = document.getElementById("EmployeeId");

            departmentSelect.addEventListener("change", function () {
                const deptId = this.value;

                fetch(`/AttenanceRecord/GetEmployeesByDepartment?departmentId=${deptId}`)
                    .then(response => response.json())
                    .then(data => {
                        employeeSelect.innerHTML = '';
                        data.forEach(emp => {
                            const option = document.createElement("option");
                            option.value = emp.id;
                            option.textContent = emp.name;
                            employeeSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error("Chyba při načítání zaměstnanců:", error);
                    });
            });
        });
    </script>
}

